@model RefTemeto.Models.Grave

<form method="post" asp-action="Create">
    <div class="border p-3">
        @*<div asp-validation-summary="ModelOnly" class="text-danger"></div>*@
        <div class="form-group row">
            <h2 class="text-info pl-3">Sírhely felvétele</h2>
        </div>
        <div class="row">
            <div class="col-8">
                <div class="form-group row">
                    <div class="col-4">
                        <label asp-for="GraveType"></label>
                    </div>
                    <div class="col-8">
                        <select asp-for="GraveType" class="form-control" asp-items="Html.GetEnumSelectList<graveType>()"></select>
                        <span asp-validation-for="GraveType" class="text-danger"></span>
                    </div>
                </div>

                <div class="form-group row">
                    <div class="col-4">
                        <label asp-for="Size"></label>
                    </div>
                    <div class="col-8">
                        <select asp-for="Size" class="form-control" asp-items="Html.GetEnumSelectList<size>()"></select>
                        <span asp-validation-for="Size" class="text-danger"></span>
                    </div>
                </div>

                <div class="form-group row">
                    <div class="col-4">
                        <label asp-for="Row"></label>
                    </div>
                    <div class="col-8">
                        <input asp-for="Row" class="form-control" />
                        <span asp-validation-for="Row" class="text-danger"></span>
                    </div>
                </div>

                <div class="form-group row">
                    <div class="col-4">
                        <label asp-for="Parcel"></label>
                    </div>
                    <div class="col-8">
                        <input asp-for="Parcel" class="form-control" />
                        <span asp-validation-for="Parcel" class="text-danger"></span>
                    </div>
                </div>

                <div class="form-group row">
                    <div class="col-4">
                        <label asp-for="Side"></label>
                    </div>
                    <div class="col-8">
                        <select asp-for="Side" class="form-control" asp-items="Html.GetEnumSelectList<side>()"></select>
                        <span asp-validation-for="Side" class="text-danger"></span>
                    </div>
                </div>

                <div class="form-group row">
                    <div class="col-8 offset-4 row">

                        <div class="col">
                            <input type="submit" class="btn btn-info w-100" value="Készít" />
                        </div>
                        <div class="col">
                            <a asp-action="Index" class="btn btn-success w-100"> Vissza </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-4">
                @* Keep this empty *@
            </div>
        </div>

    </div>
</form>
@section Scripts{
    @{
        <partial name="_ValidationScriptsPartial" />
    }
}