@model RefTemeto.Models.ViewModels.RenterVM

<form method="post">
    <input asp-for="Renter.RenterId" hidden />
    <div class="border p-3">
        @*<div asp-validation-summary="ModelOnly" class="text-danger"></div>*@
        <div class="form-group row">
            <h2 class="text-info pl-3">Sírmegváltó/gondozó módosítása</h2>
        </div>
        <div class="row">
            <div class="col-8">
                <div class="form-group row">
                    <div class="col-3">
                        <label asp-for="Renter.RenterLastname"></label>
                    </div>
                    <div class="col-3">
                        <input asp-for="Renter.RenterLastname" class="form-control" />
                        <span asp-validation-for="Renter.RenterLastname" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-3">
                        <label asp-for="Renter.RenterFirstname"></label>
                    </div>
                    <div class="col-3">
                        <input asp-for="Renter.RenterFirstname" class="form-control" />
                        <span asp-validation-for="Renter.RenterFirstname" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-3">
                        <label asp-for="Renter.RenterSettlementId"></label>
                    </div>
                    <div class="col-3">
                        <select asp-for="Renter.RenterSettlementId" asp-items="@Model.TypeDropDown" class="form-control">
                            <option selected>-- Válasszon települést!--</option>
                        </select>
                        <span asp-validation-for="Renter.RenterSettlementId" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-3">
                        <label asp-for="Renter.RenterAdress"></label>
                    </div>
                    <div class="col-3">
                        <input asp-for="Renter.RenterAdress" class="form-control" />
                        <span asp-validation-for="Renter.RenterAdress" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-3">
                        <label asp-for="Renter.RenterEmail"></label>
                    </div>
                    <div class="col-3">
                        <input asp-for="Renter.RenterEmail" class="form-control" />
                        <span asp-validation-for="Renter.RenterEmail" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-3">
                        <label asp-for="Renter.RenterPhoneNumber"></label>
                    </div>
                    <div class="col-3">
                        <input asp-for="Renter.RenterPhoneNumber" class="form-control" />
                        <span asp-validation-for="Renter.RenterPhoneNumber" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-8 offset-4 row">

                        <div class="col">
                            <input type="submit" class="btn btn-info w-100" value="Frissít" />
                        </div>
                        <div class="col">
                            <a asp-action="Index" class="btn btn-success w-100"> Vissza </a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-4">
                @* Keep this empty *@
            </div>
        </div>

    </div>
</form>
@section Scripts{
    @{
        <partial name="_ValidationScriptsPartial" />
    }
}
