@model RefTemeto.Models.Burial

<form method="post" asp-action="DeletePost">
    <input asp-for="FuneralId" hidden />
    <div class="border p-3">
        <div class="form-group row">
            <h2 class="text-info pl-3">Temetés törlése / felszámolása</h2>
        </div>
        <div class="row">
            <div class="col-8">
                <div class="form-group row">
                    <div class="col-4">
                        <label asp-for="FuneralName "></label>
                    </div>
                    <div class="col-8">
                        <input asp-for="FuneralName" disabled class="form-control" />
                    </div>
                </div>

                <div class="form-group row">
                    <div class="col-4">
                        <label asp-for="FuneralDateTime"></label>
                    </div>
                    <div class="col-8">
                        <input asp-for="FuneralDateTime" disabled class="form-control" />
                    </div>
                </div>

                <div class="form-group row">
                    <div class="col-4">
                        <label asp-for="DeathBurialMethod"></label>
                    </div>
                    <div class="col-8">
                        <input asp-for="DeathBurialMethod" disabled class="form-control" />
                    </div>
                </div>

                <div class="form-group row">
                    <div class="col-8 offset-4 row">

                        <div class="col">
                            <input type="submit" class="btn btn-danger w-100" value="Töröl" />
                        </div>
                        <div class="col">
                            <a asp-action="Index" class="btn btn-success w-100"> Vissza </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-4">
                @* Keep this empty *@
            </div>
        </div>
    </div>
</form>

